@{
    ViewBag.Title = "admEditor";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}

	<div id="page-heading">
		<blockquote> <font face = "arial narrow" color = "#FF7519" size = "6">New Editor</font></blockquote><center> 
	</div>

<center> 
	<font face = "arial" color = "#914791" size = "3">First Name</font> 
	<form><input type = "text" name = "fname" size = "40"></form> <br> 
	<font face = "arial" color = "#914791" size = "3">Last Name</font><form> <input type = "text" name = "lname" size = "40"></form>
	<br><font face = "arial" color = "#914791" size = "3"> Email </font> <form><input type = "text" name = "lname" size = "40"></form> 
	<br><font face = "arial" color = "#914791" size = "3"> SNN</font> <form> <input type = "text" name = "lname" size = "40"></form>
	<form> <input type = "submit" style = "color:black; height:50px; width:50px"" value = "add"></form></center>

<h1>Editors List</h1>
<table>
    <tr class="beg">
        <td colspan="3"><h4>First Name</h4></td>
        <td colspan="3"><h4>Last Name</h4></td>
        <td ><h4>Email</h4></td>
        <td ><h4>SSN</h4></td>
<td><h4>Option</h4></td>

    </tr>
<tr class="ss">
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td ></td>
        <td ></td>
        <td ><img src="~/Capture.gif" /><img src="~/action_delete.gif" />
            <img src="~/action_edit.gif" /></td>
    
    </tr>
<tr>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td ></td>
        <td ></td>
        <td ><img src="~/Capture.gif" />
            <img src="~/action_delete.gif" />
            <img src="~/action_edit.gif" />
        </td>
    
    </tr>
    <tr class="ss">
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td ></td>
        <td ></td>
        <td ><img src="~/Capture.gif" /><img src="~/action_delete.gif" />
            <img src="~/action_edit.gif" /></td>
    
    </tr>
    <tr>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td ></td>
        <td ></td>
        <td ><img src="~/Capture.gif" /><img src="~/action_delete.gif" />
            <img src="~/action_edit.gif" /></td>
    
    </tr>
    <tr class="ss">
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td ></td>
        <td ></td>
        <td ><img src="~/Capture.gif" /><img src="~/action_delete.gif" />
            <img src="~/action_edit.gif" /></td>
    
    </tr>
    <tr>
        			<td colspan="9">
<img src="~/paging_far_left.gif" />&nbsp;<img src="~/paging_left.gif" />&nbsp;<p>1 / 4</p>&nbsp;<img src="~/paging_far_right.gif" />&nbsp;<img src="~/paging_right.gif" />

        			</td</tr>
</table>