@{
    ViewBag.Title = "admEditedNews";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}
<link href="@Url.Content("~/Content/master.css")" />

<div id="page-container" >
    <div id="header" >
        <div id="logo">
        <h1> <a href="#">Magazine</a></h1></div></div>
    <div id="sidebar-a" >
        <div class= "padding"> 
        </div>
        </div>
    
    <div id="content" >
        <div class="padding">
             <h1 class="title"><span>edited</span> articles</h1>
         <article id="art">
          <header>
          <h1>Apple</h1>
         <p>Published: <time pubdate="pubdate">20015-10-09</time></p>
         </header>
         <p>The <b>apple</b> is the pomaceous fruit of the apple tree...</p>
         <p>Apple trees are <strong>large</strong> if grown from seed, but small if grafted onto roots (rootstock). There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Apples are generally propagated by grafting, although wild apples grow readily from seed. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was decoded as part of research on disease control and selective breeding in apple production.</p>
         <footer>
         <p><small>Creative Commons Attribution-ShareAlike License</small></p>
          </footer>
         <button id="button" >Accept</button>
         <button id="button" >Reject</button>
         </article>
         
         <article id="art">
          <header>
          <h1>

    The Mouse To End All Mice
    Logitech's quest to make the perfect wireless mouse

</h1>
         <p>Published: <time pubdate="pubdate">20015-10-010</time></p>
         </header>
         <p>WE <b>are</b>  living in a world where the mouse and keyboard are quickly becoming legacy inputs.</p>
         <p>The future is a quickly-changing concept, <strong>now</strong>  filled with gesture recognition and voice-only interfaces, and it surely doesn’t look the same as it did when the first mouse was brought to market in 1981..</p>
        <p>But the basic idea of a mouse hasn’t changed in the last 25 years, and it’s still a staple of desktop computing, especially for gamers. What has changed, though, is the level of technology in these mice. Advances in sensors, microcontrollers, and wireless protocols have kept users satisfied over the years with increasing reliability and responsiveness.</p>
         <footer>
         <p><small>Creative Commons Attribution-ShareAlike License</small></p>
          </footer>
         <button id="button" >Accept</button>
         <button id="button" >Reject</button>
          </article>
       </div>
        
        <article id="art">
          <header>
          <h1>How to choose the right Animation School for you.

by Annie Gray </h1>
         <p>Published: <time pubdate="pubdate">20015-10-09</time></p>
         </header>
         <p>The <b>one question we get asked most often at Animation Arena</b> is the "which animation school should I go to?" question. That's still a tricky question to answer but the good news is with the rise of Pixar Animation Studios, DreamWorks and other animation studios becoming a professional animator is actually a viable career path. Some of our top grossing movies are animated features so the demand for good animators has definitely increased and with the increase in demand more schools and universities are offering animation degrees. </p>
         <p>arena <strong>is</strong> if grown from seed, but small if grafted onto roots (rootstock). There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and uses, including cooking, eating raw and cider production. Apples are generally propagated by grafting, although wild apples grow readily from seed. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was decoded as part of research on disease control and selective breeding in apple production.</p>
         <footer>
         <p><small>Creative Commons Attribution-ShareAlike License</small></p>
          </footer>
         <button id="button" >Accept</button>
         <button id="button" >Reject</button>
         </article>
         
         <article id="art">
          <header>
          <h1>
    </div>
    <div id="footer" >
        <div id="altnav">
            <a href="#">About</a>-
            <a href="#" >Services</a>-
            <a href="#">Portfolio</a>-
            <a href="#" >Terms of Trade</a>
        </div>
    </div>
    </div>
