@{
    ViewBag.Title = "EdiNews";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}
    <link href="@Url.Content("~/Content/reset-min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/fonts-min.css")" rel="stylesheet" />

      <div id="wrapper">

			<div id="content">
					<div class="article">
						<h1 class="sub-title">‘Zootopia:’ Disney’s Latest and Greatest Animal Kingdom</h1>
                        
						<img src="~/Content/img/1027052-zootopia-disney-s-latest-and-greatest-animal-kingdom.jpg" />
						
                        <div class="d">
                        <p>
						One of Disney Feature Animation’s most energetic, funny and enjoyable animated features hits theatres worldwide.
						</p>
                            
						<button class="btn">Edit</button>
						<button class="btn">Delete</button>
					</div>
					
                        </div>
					<div class="article">
						<h1 class="sub-title">Troma Launches TROMAnimation Film Festival</h1>
						<img src="~/Content/img/1027271-troma-launches-tromanimation-film-festival.jpg" />
						
                        <div class="d">
                        <p>
						Longest-running independent film studio’s new animation-only film festival to be held Saturday, April 30th at the Lucky 13 Saloon in Brooklyn, NY.
						</p>
						<button class="btn">Edit</button>
						<button class="btn">Delete</button>
					</div>
					</div>

					<div class="article">
						<h1 class="sub-title">WATCH: New ‘LEGO Batman’ Teaser is the Perfect Antidote to ‘Batman v Superman’</h1>
						<img src="~/Content/img/1027269-watch-new-lego-batman-teaser-perfect-antidote-batman-v-superman.jpg" />
						<div class="d">
                        <p>
						Described by director Chris McKay as ‘About a Boy’ as directed by Michael Mann, new teaser trailer honors every era of Batman filmmaking.
						</p>
						<button class="btn">Edit</button>
						<button class="btn">Delete</button>
					</div>
					</div>

					<div class="article">
						<h1 class="sub-title">Splash Entertainment Announces Trio of Promotions</h1>
						<img src="~/Content/img/1027255-splash-entertainment-announces-trio-promotions.jpg" />
						<div class="d">
                        <p>
						Following the recent success of its first feature film, ‘Norm of the North,’ children’s entertainment specialist promotes Mike Young to chairman and co-CEO, Steve Rosen to co-CEO and David Di Lorenzo to President of Kabillion.
						</p>
						<button class="btn">Edit</button>
						<button class="btn">Delete</button>
					</div>
					</div>

					<div class="article">
						<h1 class="sub-title">Rovio’s ToonsTV Now Available on Apple TV</h1>
						<img src="~/Content/img/1027265-rovio-s-toonstv-now-available-apple-tv.jpg" />
						<div class="d">
                        <p>
						Finnish ‘Angry Birds’ developer’s family-friendly video platform eclipses 5.6 billion global views; unveils dedicated Easter programming.
						</p>
						<button class="btn">Edit</button>
						<button class="btn">Delete</button>
					</div>
					</div>
					<div class="s"><textarea cols="50" rows="10"></textarea>
					<br>
					<button class="btn">Add Article</button></div>
				</div>
			</div>
          <br /> <br /> <br /> <br /> 
