@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}
<div class="main-Content">
    <h1>WelCome To Control Page </h1><br /><br />
    <p>From Here You Can Make Your Job For System To Add Article or Edit it or delete it or what you want to do</p>
</div>
