@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_WallLayout.cshtml";
}

<div class="main-Content">
    <h1>WelCome To Our Web Site </h1><br /><br />
    <p>Our Web Site is about Journal That Show News For Animation Views You Can See What You Interested in and You Can Find it We hope To Spend Nice Time in our Web Site </p>
</div>
