@{
    ViewBag.Title = "news";
    Layout = "~/Views/Shared/_WallLayout.cshtml";
}

    <div class="portfolio">
        <div class="container">
            <h2>News</h2>
            <p> New Movies & Animation </p>
        <div class="our-work" >
            <div><img src="~/anm/11.jpg"></div>
            <div><img src="~/anm/12.jpg"></div>
            <div><img src="~/anm/13.jpg"></div>
            <div><img src="~/anm/14.jpg"></div>
            <div><img src="~/anm/15.jpg"></div>
            <div><img src="~/anm/16.jpg"></div>
            <div><img src="~/anm/17.jpg"></div>
            <div><img src="~/anm/18.jpg"></div>
            <div><img src="~/anm/19.png"></div>
        
            <div><img src="~/anm/21.jpg"></div>
            <div><img src="~/anm/22.png"></div>
            <div><img src="~/anm/23.jpg"></div>
            <div><img src="~/anm/24.jpg"></div>
            <div><img src="~/anm/25.jpg"></div>
            <div><img src="~/anm/26.jpg"></div>
            <div><img src="~/anm/27.jpg"></div>
            <div><img src="~/anm/28.jpg"></div>
            <div><img src="~/anm/29.jpg"></div>
                        <div><img src="~/anm/11.jpg"></div>
            <div><img src="~/anm/12.jpg"></div>
            <div><img src="~/anm/13.jpg"></div>
            <div><img src="~/anm/14.jpg"></div>
            <div><img src="~/anm/15.jpg"></div>
            <div><img src="~/anm/16.jpg"></div>
            <div><img src="~/anm/17.jpg"></div>
            <div><img src="~/anm/18.jpg"></div>
            <div><img src="~/anm/19.png"></div>
        
            <div><img src="~/anm/21.jpg"></div>
            <div><img src="~/anm/22.png"></div>
            <div><img src="~/anm/23.jpg"></div>
            <div><img src="~/anm/24.jpg"></div>
            <div><img src="~/anm/25.jpg"></div>
            <div><img src="~/anm/26.jpg"></div>
            <div><img src="~/anm/27.jpg"></div>
            <div><img src="~/anm/28.jpg"></div>
            <div><img src="~/anm/29.jpg"></div>
                        <div><img src="~/anm/11.jpg"></div>
            <div><img src="~/anm/12.jpg"></div>
            <div><img src="~/anm/13.jpg"></div>
            <div><img src="~/anm/14.jpg"></div>
            <div><img src="~/anm/15.jpg"></div>
            <div><img src="~/anm/16.jpg"></div>
            <div><img src="~/anm/17.jpg"></div>
            <div><img src="~/anm/18.jpg"></div>
            <div><img src="~/anm/19.png"></div>
        
            <div><img src="~/anm/21.jpg"></div>
            <div><img src="~/anm/22.png"></div>
            <div><img src="~/anm/23.jpg"></div>
            <div><img src="~/anm/24.jpg"></div>
            <div><img src="~/anm/25.jpg"></div>
            <div><img src="~/anm/26.jpg"></div>
            <div><img src="~/anm/27.jpg"></div>
            <div><img src="~/anm/28.jpg"></div>
            <div><img src="~/anm/29.jpg"></div>
                                    <div><img src="~/anm/11.jpg"></div>
            <div><img src="~/anm/12.jpg"></div>
            <div><img src="~/anm/13.jpg"></div>
            <div><img src="~/anm/14.jpg"></div>
            <div><img src="~/anm/15.jpg"></div>
            <div><img src="~/anm/16.jpg"></div>
            <div><img src="~/anm/17.jpg"></div>
            <div><img src="~/anm/18.jpg"></div>
            <div><img src="~/anm/19.png"></div>
        
            <div><img src="~/anm/21.jpg"></div>
            <div><img src="~/anm/22.png"></div>
            <div><img src="~/anm/23.jpg"></div>
            <div><img src="~/anm/24.jpg"></div>
            <div><img src="~/anm/25.jpg"></div>
            <div><img src="~/anm/26.jpg"></div>
            <div><img src="~/anm/27.jpg"></div>
            <div><img src="~/anm/28.jpg"></div>
            <div><img src="~/anm/29.jpg"></div>
        </div>
        </div>
        </div>